#name:hover {
    background-color: aquamarine;
}
#name:focus {
    background-color: lightblue;
}
.customer:first-child {
    color: green;
}
.customer:last-child {
    color: red;
}
.customer:nth-child(8) {
    color: lightseagreen;
}
.customer:nth-child(4n + 2) {
    background-color: lightseagreen;
}